@font-face {
    font-family: 'GeorgiaRegular';
    src: url('/fonts/georgia/georgia.eot');
    src: url('/fonts/georgia/georgia.eot') format('embedded-opentype'),
         url('/fonts/georgia/georgia.woff') format('woff'),
         url('/fonts/georgia/georgia.ttf') format('truetype'),
         url('/fonts/georgia/georgia.svg#GeorgiaRegular') format('svg');
}

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('/fonts/gothic/gothic.eot');
    src: url('/fonts/gothic/gothic.eot') format('embedded-opentype'),
         url('/fonts/gothic/gothic.woff') format('woff'),
         url('/fonts/gothic/gothic.ttf') format('truetype'),
         url('/fonts/gothic/gothic.svg#CenturyGothicRegular') format('svg');
}
